* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #333;
  background-color: #F6F6F6;
}

.bg-wave {
  width: 100%;
  height: 100%;
  background: url(../img/bg-wave.svg) no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  list-style: none;
  display: inline;
}

li.active {
  border-bottom: 5px solid #E3E3E3;
  height: 50px;
}

li a {
  text-decoration: none;
  color: #333;
}

.bold {
  font-weight: bold;
}

.btn, select {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  border-radius: 7px;
  border: 1px solid #333;
  background-color: white;
  line-height: 34px;
  padding: 0 10px;
  height: 34px;
}

.select-months {
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  padding: 10px;
  height: 34px;
}

input {
  background-color: #E3E3E3;
  color: #777;
  height: 30px;
  border: none;
  border-radius: 7px;
  line-height: 34px;
  padding: 0 10px;
  height: 34px;
}

input, select:focus {
  outline: none;
}

/* Top Bar */
.top-bar {
  width: 100%;
  height: 50px;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.top-bar a {
  text-decoration: none;
}

.top-bar-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
}

#logo {
  font-size: 14px;
  font-weight: bold;
  color: #777;
}

.logo-color {
  color: #26DA6E;
}

.top-menu ul {
  margin: 0;
}
.top-menu li {
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
}
.top-menu a:hover {
  color: #333ADB;
  transition: 0.2s all ease-in-out;
}

.user-actions div {
  display: inline;
  padding-left: 10px;
}
.user-actions span {
  padding-left: 10px;
}
.user-actions .fas {
  color: #777;
}
.user-actions #user-name {
  padding: 0;
}

#ico-small-menu {
  position: fixed;
  right: 30px;
  top: 60px;
  color: #333;
  display: none;
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  z-index: 200;
  cursor: pointer;
}

#ico-small-menu:hover {
  color: #26DA6E;
  transition: 0.2s all ease-in-out;
}

#small-menu {
  z-index: 300;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  text-align: center;
  font-size: 2em;
  display: none;
}
#small-menu ul {
  margin-top: 10%;
}
#small-menu li {
  display: block;
  margin: 30px 0;
}
#small-menu a {
  color: white;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.close:hover {
  color: #E93838;
  transition: 0.2s all ease-in-out;
}

#btn-small-menu-close {
  color: white;
}

#btn-small-menu-close:hover {
  color: #E93838;
  transition: 0.2s all ease-in-out;
}

/* Content */
.content {
  margin-top: 50px;
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.ico-content {
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: #333ADB;
  margin: 0 0 50px 100px;
}

/* Scrollbar and Selection */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #E3E3E3;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #26DA6E;
}

::selection {
  color: white;
  background: #26DA6E;
}

::-moz-selection {
  color: white;
  background: #26DA6E;
}

/*# sourceMappingURL=main.css.map */
