$family: 'Roboto', sans-serif;
$main-color: #333;
$orange: #E5604E;
$green: #26DA6E;
$red: #E93838;
$blue: #333ADB;
$gray: #777;
$light-gray: #E3E3E3;

@mixin shadow() {
    -webkit-box-shadow: 0px 4px 25px 6px rgba(0,0,0,0.1); 
    box-shadow: 0px 4px 25px 6px rgba(0,0,0,0.1);
}

@mixin select() {
    position: absolute;
    top: 30px;
    right: 40px;
    border-radius: 4px;
    background: none;
    padding: 5px 10px;
    border: 1px solid $light-gray;
}

@mixin gradient($value) {
    background: -moz-linear-gradient($value);
    background: -webkit-linear-gradient($value);
    background: linear-gradient($value); 
}

* {
    box-sizing: border-box;
}

body {
    font-family: $family;
    font-size: 12px;
    color: $main-color;
    background-color: #F6F6F6;
}

.bg-wave {
    width: 100%;
    height: 100%;
    background: url(../img/bg-wave.svg) no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

li {
    list-style: none;
    display: inline;
}

li.active {
    border-bottom: 5px solid $light-gray;
    height: 50px;
}

li a {
    text-decoration: none;
    color: $main-color;
}

.bold {
    font-weight: bold;
}

/* Top Bar */
.top-bar {
    width: 100%;
    height: 50px;
    background-color: white;
}

.top-bar-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

#logo {
    font-size: 14px;
    font-weight: bold;
    color: $gray;
}

.logo-color {
    color: $green;
}

.top-menu {
    li {
        padding: 0 10px;
        line-height: 50px;
        display: inline-block;
    }

    ul {
        margin: 0;
    }
}

.user-actions {
    div {
        display: inline;
        padding-left: 10px;
    }

    span {
        padding-left: 10px;
    }

    .fas {
        color: $gray;
    }

    #user-name {
        padding: 0;
    }
}

/* Content */
.content {
    margin-top: 50px;
}

.content-background {
    max-width: 1200px;
    height: 900px;
    margin-top:75px;
    border-radius: 7px;
    border: 1px solid #DEDEDE;
    background-color: #EFEFEF;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    margin-bottom: 100px;
}

.content-wrapper {
    width: 960px;
    margin: 0 auto;
}

.ico-content {
    float: left;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: $blue;
    margin:0 0 50px 100px;
}

.boxes {
    display: flex;
    justify-content: space-between;

    select {
        @include select();
        color: $gray;
    }
}

.box {
    background: white;
    width: 450px; 
    height: 430px;
    padding: 30px 50px 50px 50px;
    border-radius: 7px; 
    position: relative;
    @include shadow();
}

.ico {
    display: inline-block;
    position: absolute;
}

h4 {
    color: #272727;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 2px 0 0 0;
    padding-left: 50px;
    margin-bottom: 50px;
}

th {
    color: $gray;
    text-align: left;
}

table {
    border-collapse: separate; 
    border-spacing: 1em 1em;
}

.table {
    max-height: 230px;
    overflow-y: scroll;
    display: block;
}

.table::-webkit-scrollbar {
    width: 3px;
}
  
.table::-webkit-scrollbar-track {
    background: $light-gray; 
}
  
.table::-webkit-scrollbar-thumb {
    background: $gray; 
}
  
.table::-webkit-scrollbar-thumb:hover {
    background: $green; 
}


.item-name {
    font-weight: bold;
}

#table-expenses {
    .item-value {
        color: $orange;
    }
}

#table-income {
    .item-value {
        color: $green;
    }
}

.box-sum {
    width: 170px;
    height: 84px;
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-radius: 7px;
    padding-left: 30px;
    font-size: 14px;
    @include shadow();

    .sum-value {
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
}

.box-sum-expenses {
    background: $orange;
    @include gradient((312deg, rgba(229,96,78,1) 0%, rgba(255,127,110,1) 100%));
}

.btn-add {
    position: absolute;
    bottom: 30px;
    right: 50px;
    border-radius: 7px;
    border: 1px solid $main-color;
    padding: 10px;
}

.box-sum-income {
    background: $green;
    @include gradient((312deg, rgba(38,218,110,1) 0%, rgba(80,255,150,1) 100%));
}

.box-horizontal {
    margin-top: 50px;
    height: 214px;
    width: 100%;
    background-color: $red;
    padding: 50px;
    border-radius: 7px; 
    position: relative;
    @include shadow();

    select {
        @include select();
        color: $light-gray;
    }

    .title {
        color: white;
        position: absolute;
        top: 29px;
    }
}

.box-balance {
    width: 300px;
    height: 190px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 7px;
    background-color: $blue;
    @include gradient((312deg, rgba(115,54,215,1) 0%, rgba(51,57,219,1) 100%));
    color: white;
    
    .bold {
        font-size: 14px;
    }

    @include shadow();
}

#ico-summary {
    top: 28px;
}

#balance-value {
    font-size: 36px;
    font-weight: bold;
}