@import "variables.scss";
@import "mixins.scss";

@media only screen and (min-width: 320px) and (max-width: 479px){
    table {
        border-collapse: separate; 
        border-spacing: 0.5em 1em;
    }
}

@media only screen and (max-width: 767px){
    nav {
        display: none;
    }

    #ico-small-menu {
        display: block;
    }
}

@media only screen and (max-width: 904px){
    h2 {
        text-align: center;
        margin-left: 0;
    }

    .ico-content {
        display: none;
    }
    
    .bg-wave {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px){
    
}