@import "variables.scss";
@import "mixins.scss";

.box-login {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 240px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    @include shadow();
    border-radius: 7px;
    

    input {
        margin: 8px;
    }

    input:focus {
        border: 2px solid $blue;
    }
    
    span {
        color: $gray;
    }
}

.btn-login {
    border-radius: 7px;
    border: 1px solid $main-color;
    width: 65px;
    float: right;
    margin-right: 32px;
    margin-top: 7px;
}

.btn-login:hover {
    background-color: $blue;
    color: white;
    border-color: $blue;
    transition: all 0.2s ease-in-out;
    transform: scale(1.15);
}

.btn-login:active {
    background-color: $green;
    border-color: $green;
}

#title-main-login {
    text-align: center;
    margin: 0;
}

.forgot-pwd {
    margin-left: 32px;
    margin-top: 18px;
    text-align: left;
}

a {
    text-decoration: none;
    color: $gray;
}