@import "variables.scss";
@import "mixins.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: $family;
    font-size: 12px;
    color: $main-color;
    background-color: #F6F6F6;
}

.bg-wave {
    width: 100%;
    height: 100%;
    background: url(../img/bg-wave.svg) no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

li {
    list-style: none;
    display: inline;
}

li.active {
    border-bottom: 5px solid $light-gray;
    height: 50px;
}

li a {
    text-decoration: none;
    color: $main-color;
}

.bold {
    font-weight: bold;
}

.btn, select {
    cursor: pointer;
    @include disableHighlighting();
}

select {
    border-radius: 7px;
    border: 1px solid $main-color;
    background-color: white;
    line-height: 34px;
    padding: 0 10px;
    height: 34px;
}

.select-months {
    position: absolute;
    right: 0;
    top: 8px;
    background-color: #F6F6F6;
}

.btn {
    padding: 10px;
    height: 34px;
    background-color: white;
}

input {
    background-color: $light-gray;
    color: $gray;
    height: 30px;
    border: none;
    border-radius: 7px;
    line-height: 34px;
    padding: 0 10px;
    height: 34px;
}

input, select:focus {
    outline: none;
}

.visible {
    display: block !important; 
 }

/* Top Bar */
.top-bar {
    width: 100%;
    height: auto;
    background-color: white;
    @include disableHighlighting();

    a {
        text-decoration: none;
    }
}

.top-bar-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

#logo {
    font-size: 14px;
    font-weight: bold;
    color: $gray;
}

.logo-color {
    color: $green;
}

.top-menu {
    ul {
        margin: 0;
    }

    li {
        padding: 0 10px;
        line-height: 50px;
        display: inline-block;
    }

    a:hover {
        color: $blue;
        transition: 0.2s all ease-in-out;
    }
}

.user-actions {
    div {
        display: inline;
        padding-left: 10px;
    }

    span {
        padding-left: 10px;
    }

    .fas {
        color: $gray;
    }

    #user-name {
        padding: 0;
    }
}

#ico-small-menu {
    position: fixed;
    right: 30px;
    top: 55px;
    color: $main-color;
    display: none;
    padding: 14px;
    border-radius: 30px;
    background-color: white;
    z-index: 200;
    cursor: pointer;

    @include shadow();
}

#ico-small-menu:hover {
    color: $green;
    transition: 0.2s all ease-in-out;
}

#small-menu {
    z-index: 500;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    text-align: center;
    font-size: 2em;
    display: none;

    ul {
        margin-top: 20%;
        padding-left: 0px;
    }

    li {
        display: block;
        margin: 30px 0;
    }

    a {
        color: white;
    }
}

.close {
    position: absolute;
    right: 52px;
    top: 68px;
    cursor: pointer;
}

.close:hover {
    color: $red;
    transition: 0.2s all ease-in-out;
}

#btn-small-menu-close {
    color: white;
}

#btn-small-menu-close:hover {
    color: $red;
    transition: 0.2s all ease-in-out;
}

/* Content */
.content {
    margin-top: 50px;
}

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.ico-content {
    float: left;
    @include disableHighlighting();
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: $blue;
    margin:0 0 50px 100px;
}

/* Scrollbar and Selection */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: $light-gray; 
}
  
::-webkit-scrollbar-thumb {
    background: $gray; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: $green; 
}
  
::selection {
    color: white; 
    background: $green;
}

::-moz-selection {
    color: white; 
    background: $green;
}