<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>homeBrain</title>
    <meta name="description" content="Make home a better place.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- STYLES -->
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/finances.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/media-finances.css">
      <link rel="stylesheet" href="../static/login.css">


    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/img/favicon.png"/>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>

<i class="fa-2x fas fa-bars" id="ico-small-menu"></i>

<nav id="small-menu">
    <span class="fas fa-times close" id="btn-small-menu-close"></span>
    <ul>
        <li class="small-menu-li"><a href="#">Finanse</a></li>
        <li class="small-menu-li"><a href="#">To-Do List</a></li>
        <li class="small-menu-li"><a href="#">Lista zakupów</a></li>
        <li class="small-menu-li"><a href="#">Jadłospis</a></li>
        <li class="small-menu-li"><a href="#">Rezerwacje</a></li>
    </ul>
</nav>

<div class="top-bar">
    <div class="top-bar-wrapper">
        <a href="index.html"><span id="logo">home<span class="logo-color">Brain</span></span></a>

        <nav class="top-menu">
            <ul>
                <li class="active bold"><a href="#">Finanse</a></li>
                <li><a href="#">To-Do List</a></li>
                <li><a href="#">Lista zakupów</a></li>
                <li><a href="#">Jadłospis</a></li>
                <li><a href="#">Rezerwacje</a></li>
            </ul>
        </nav>

        <div class="user-actions">
            Witaj,
            <span id="user-name">USER</span>!
            <span class="fas fa-user" id="ico-user"></span>
            <span class="fas fa-cog" id="ico-settings"></span>
            <div id="btn-log-out">wyloguj</div>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-wrapper">
        {% block body %} 
        
        {% endblock %}
    </div>
</div>

<div class="bg-wave"></div>

<!-- Scripts -->
<script src="../js/app.js"></script>
</body>

</html>
