{% extends 'base.html' %}

{% block body %}

    {% include 'includes/_logged_in_header.html' %}


    <div class="modal" id="modal-edit">
        <span class="fas fa-times btn-close-modal btn-close-edit"></span>
        <h3>Edycja rekordu</h3>
        <form class="form-edit" method="POST" action="{{ url_for('edit_item') }}">
            <p>ID:</p><input class="input-edit-id" name="id-edit" type="text">
            <p>Nazwa:</p><input required class="input-edit-name" maxlength="10" type="text" name="name-edit">
            <p>Wartość:</p><input required class="input-edit-value" maxlength="10" step="0.01" name= "value-edit" type="number">
            <p>Data:</p><input required class="input-edit-date" type="date" name="date-edit">
            <button type="submit" class="btn btn-add btn-modal-item btn-edit-item">Edytuj</button>
        </form>
    </div>

    <div class="modal" id="modal-delete">
        <span class="fas fa-times btn-close-modal btn-close-delete"></span>
        <h3>Usuwanie rekordu</h3>
        <form method="POST" action="{{ url_for('delete_item') }}">
            <p>ID:</p><input class="input-delete-id" name="id" type="text">
            <button type="submit" class="btn btn-add btn-modal-item btn-delete-item">Usuń</button>
        </form>
    </div>

    <div class="content">
        <div class="content-wrapper">

            <img src="../static/img/icon-finances.svg" alt="finances icon" class="ico-content">
            <h2 id="title-main">Finanse.</h2>

            <form method="GET">
                <select class="select-date select-months" name="select-months"></select>
                <select class="select-date select-years" name="select-years"></select>

                <button type="submit" class="btn select-date select-accept btn-add select-accept-date">OK</button>
            </form>

            <section class="box-horizontal" id="box-settings">
                <form method="POST" action="{{ url_for('post_item') }}">
                    <select class="select-type" name="select-type">
                        <option value="Wydatek">Wydatek</option>
                        <option value="Przychod">Przychód</option>
                    </select>

                    <input class="input" required maxlength="10" type="text" id="name" name="name" placeholder="Nazwa">
                    <input class="input" required maxlength="10" type="number" step="0.01" id="value" name="value"
                           placeholder="Wartość">
                    <input class="input" required type="date" id="date" name="date">
                    <button type="submit" class="btn btn-add">Dodaj</button>
                </form>
            </section>

            <div class="boxes">
                <section class="box" id="box-expenses">
                    <img src="../static/img/icon-expenses.svg" class="ico" id="ico-expenses" alt="income icon">
                    <h4 class="title">Wydatki</h4>

                    <div class="table">
                        <table id="table-expenses">
                            <tr class="table-header">
                                {% for header in header_content %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                            {% for bilance_row in the_data_expenses %}
                                <tr class="table-row" id="item-{{ bilance_row.id }}">
                                    <td><img class="btn btn-remove" src="../static/img/icon-remove.svg" alt="Remove">
                                    </td>
                                    <td class="table-item">{{ bilance_row.id }}</td>
                                    <td class="table-item item-name">{{ bilance_row.name }}</td>
                                    <td class="table-item  item-value">-{{ bilance_row.value }}</td>
                                    <td class="table-item">{{ bilance_row.person }}</td>
                                    <td class="table-item">{{ bilance_row.date }}</td>
                                    <td><img class="btn btn-edit" src="../static/img/icon-edit.svg" alt="Edit"></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="box-sum box-sum-expenses">
                        <p>Suma:</p>
                        <p class="sum-value" id="expenses-sum">{{ sum_exp }} PLN</p>
                    </div>
                </section>

                <section class="box" id="box-income">
                    <img src="../static/img/icon-income.svg" class="ico" id="ico-income" alt="income icon">
                    <h4 class="title">Przychody</h4>

                    <table class="table" id="table-income">
                        <tr class="table-header">
                            {% for header in header_content %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        {% for bilance_row in the_data_incomes %}
                            <tr class="table-row" id="item-{{ bilance_row.id }}">
                                <td><img class="btn btn-remove" src="../static/img/icon-remove.svg" alt="Remove"></td>
                                <td class="table-item">{{ bilance_row.id }}</td>
                                <td class="table-item item-name">{{ bilance_row.name }}</td>
                                <td class="table-item  item-value">+{{ bilance_row.value }}</td>
                                <td class="table-item">{{ bilance_row.person }}</td>
                                <td class="table-item">{{ bilance_row.date }}</td>
                                <td><img class="btn btn-edit" src="../static/img/icon-edit.svg" alt="Edit"></td>
                            </tr>
                        {% endfor %}
                    </table>

                    <div class="box-sum box-sum-income">
                        <p>Suma:</p>
                        <p class="sum-value" id="income-sum">{{ sum_inc }} PLN</p>
                    </div>

                </section>
            </div>

            <section class="box-horizontal" id="box-summary">
                <img src="../static/img/icon-summary.svg" class="ico" id="ico-summary" alt="summary icon">
                <h4 class="title">Podsumowanie</h4>

                <div class="box-balance">
                    <p class="bold">W budżecie obecnie jest:</p>
                    <p id="balance-value">{{ final_bil }} PLN</p>
                    <img src="../static/img/coins-left.svg" class="coins-left" alt="">
                    <img src="../static/img/coins-right.svg" class="coins-right" alt="">
                </div>
            </section>

        </div>
    </div>

    <!-- Scripts -->
    <script src="../static/js/finances.js"></script>
{% endblock %}
