{% extends 'base.html' %}

{% block body %}
    {% include 'includes/_basic_header.html' %}
    <div class="content">
        <div class="content-wrapper">

            {% for mess in get_flashed_messages() %}
                <div class="flash-message" role="alert">
                    <strong>Błąd!</strong> {{ mess }}
                    <span class="fas fa-times btn-close-modal btn-close-flash"></span>
                </div>
            {% endfor %}

            <section class="box-login">
                <p id="title-main-login">Logowanie do strony</p>
                <form method="POST" action="">
                    <input type="text" id="login-name" name="username" placeholder="Nazwa"
                           value={{ request.form.username }}>
                    <input type="password" id="login-password" name="password" placeholder="Hasło"
                           value={{ request.form.password }}>
                    <button class="btn btn-login" type="submit">Zaloguj</button>
{#                    <div class="forgot-pwd"><a href="lost-password.html">Zgubione hasło</a></div>#}
                </form>
            </section>
        </div>
    </div>

    <!-- Scripts -->
    <script src="../static/js/login.js"></script>
{% endblock %}
