{% extends 'base.html' %}

{% block body %}
    {% include 'includes/_basic_header.html' %}
    <div class="content">
        <div class="content-wrapper">
            <h2 id="title-main-login">Logowanie.</h2>


            <section class="box-login">
                <form method="POST" action="">
                    <input type="text" id="login-name" name="username" placeholder="Nazwa"
                           value={{ request.form.username }}>
                    <input type="password" id="login-password" name="password" placeholder="Hasło"
                           value={{ request.form.password }}>
                    {#            <div class="btn btn-login">Zaloguj</div>#}
                    <button class="btn btn-login" type="submit">Zaloguj</button>
                    <div class="forgot-pwd"><a href="lost-password.html">Zgubione hasło</a></div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
