{% extends 'base.html' %}

{% block body %}
    <h2 id="title-main">Logowanie.</h2>


    <section class="box-login">
        <form method="GET POST" action="/login">
            <input type="text" id="login-name" name="login" placeholder="Nazwa">
            <input type="password" id="login-password" name="password" placeholder="Hasło">
            <div class="btn btn-login">Zaloguj</div>
            <div class="forgot-pwd"><a href="lost-password.html">Zgubione hasło</a></div>
        </form>
    </section>

{% endblock %}
